<a href="https://colab.research.google.com/github/ozalakshay/repo/blob/main/ds.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df1 = pd.read_csv("/content/pract1.csv")
df1['hours'] = pd.to_timedelta(df['Duration']).dt.total_seconds() / 3600
print(df1)

In [ ]:
import pandas as pd
df = pd.read_csv("/content/pract3.csv")
df["hours"] = pd.to_timedelta(df["timestamp"]).dt.total_seconds() / 3600
print(df)

2

In [1]:
import pandas as pd
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma'], 'Age': [5, 17, 34, 70, 25]}
df = pd.DataFrame(data)
bins = [0, 12, 19, 59, 100]
labels = ['child', 'Teenager', 'Adult', 'Senior']
df['Age Group'] = pd.cut(df['Age'], bins=bins, labels=labels)
print(df)

      Name  Age Age Group
0    Alice    5     child
1      Bob   17  Teenager
2  Charlie   34     Adult
3    David   70    Senior
4     Emma   25     Adult

In [ ]:
df['Age Bin'] = pd.cut(df['Age'], bins=3)
print(df)

In [ ]:
df['Quantile Bin'] = pd.qcut(df['Age'], q=3, labels=['Low', 'Medium', 'High'])
print(df)

3

In [3]:
data = [10, 20, 30, 40, 50]
average = sum(data) / len(data)
print("Average:", average)
import statistics
data = [10, 20, 30, 40, 50]
average = statistics.mean(data)
print("Average:", average)
import numpy as np
data = np.array([10, 20, 30, 40, 50])
average = np.mean(data)
print("Average:", average)
import numpy as np
data=[10,20,45,35,87]
total=np.sum(data)
print("Total=",total)
mn=np.mean(data)
print("Mean of Data",mn)

Average: 30.0
Average: 30
Average: 30.0
Total= 197
Mean of Data 39.4

4

In [ ]:
import networkx as nx
import matplotlib.pyplot as plt
DAG = nx.DiGraph()
edges = [
    ('start', 'Data Cleaning'),
    ('Data Cleaning', 'Feature Engineering'),
    ('Feature Engineering', 'Model Training'),
    ('Model Training', 'Evaluation'),
    ('Evaluation', 'Deployment')
]
DAG.add_edges_from(edges)
if nx.is_directed_acyclic_graph(DAG):
    print("The graph is a valid DAG.")
else:
    print("The graph contains cycles.")
plt.figure(figsize=(8, 5))
pos = nx.spring_layout(DAG)
nx.draw(DAG, pos, with_labels=True, node_size=3000, node_color="lightblue", edge_color="gray", font_size=10)
plt.title("Directed Acyclic Graph (DAG) for Data Science Workflow")
plt.show()

5

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
data = {
    'customer_ID': range(1, 21),
    'latitude': np.random.uniform(10, 50, 20),
    'longitude': np.random.uniform(10, 50, 20)
}
df = pd.DataFrame(data)
k = 3
kmeans = KMeans(n_clusters=k, random_state=42)
df['cluster'] = kmeans.fit_predict(df[['latitude', 'longitude']])
warehouse_locations = kmeans.cluster_centers_
plt.figure(figsize=(6, 6))
plt.scatter(df['latitude'], df['longitude'], c=df['cluster'], cmap='viridis', label='Customers')
plt.scatter(warehouse_locations[:,0], warehouse_locations[:,1], color='red', marker='X', s=200, label='Warehouse Locations')
plt.xlabel('Latitude')
plt.ylabel('Longitude')
plt.title('Warehouse Location Selection using Clustering')
plt.legend()
plt.show()
for i, loc in enumerate(warehouse_locations):
    print(f'Warehouse {i+1} Location: Latitude {loc[0]:.2f}, Longitude {loc[1]:.2f}')

6

In [ ]:
import pandas as pd
import datetime
hub_time = pd.DataFrame({
    'Event_ID': [101, 102, 103, 104],
    'Event_Name': ['Order Placed', 'Order Shipped', 'Payment Processed', 'Order Delivered'],
    'Event_Timestamp': [datetime.datetime(2024,2,1,10,30),
    datetime.datetime(2024,2,1,11,0),
    datetime.datetime(2024,2,1,11,15),
    datetime.datetime(2024,2,1,12,0)]
})
link_event_location = pd.DataFrame({
    'Event_ID': [101, 102, 103, 104],
    'Location_ID': ['L001', 'L002', 'L003', 'L004'],
    'Link_Hash': ['H1', 'H2', 'H3', 'H4']
})
sat_event_details = pd.DataFrame({
    'Event_ID': [101, 102, 103, 104],
    'Description': ['Order received from user', 'Package shipped via DHL',
    'Payment confirmed', 'Package delivered successfully'],
    'Recorded_At': [datetime.datetime(2024,2,1,10,35),
    datetime.datetime(2024,2,1,11,5),
    datetime.datetime(2024,2,1,11,20),
    datetime.datetime(2024,2,1,12,5)]
})
print("Time Hub (Event Information)")
print(hub_time)
print("\nLink Table (Event-Location Relationship)")
print(link_event_location)
print("\nSatellite Table (Event Details)")
print(sat_event_details)

7

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
np.random.seed(42)
data = pd.DataFrame({
    'Age': np.random.randint(18,70,200),
    'Income': np.random.randint(20000,120000,200),
    'Ad_Spend': np.random.uniform(1000,10000,200),
    'Sales': np.random.uniform(5000,50000,200)
})
plt.figure(figsize=(8,5))
sns.histplot(data['Age'], bins=15, kde=True, color='blue')
plt.xlabel("Age")
plt.ylabel("Frequency")
plt.title("Distribution of Customer Ages")
plt.show()
plt.figure(figsize=(8,5))
sns.scatterplot(x=data['Ad_Spend'], y=data['Sales'], color='red')
plt.xlabel("Ad Spend ($)")
plt.ylabel("Sales ($)")
plt.title("Ad Spend vs Sales Scatter Plot")
plt.show()

8

In [ ]:
import pandas as pd
import numpy as np
data={
    'ID': [102,101,104,103,105,102],
    'Name': ['Alice','Bob','Charlie','David','Eve', 'Alice'],
    'Age': [25, np.nan,35,40,29,25],
    'Salary': [50000,60000,np.nan,70000,55000,50000],
    'Department': ['HR','IT','Finance','IT','HR','HR']
}
df3=pd.DataFrame(data)
print(df3)
df3=df3.drop_duplicates()
print(df3)
df3['Age'].fillna(df['Age'].mean(), inplace=True)
df3 = df3.sort_values(by='Age')
df3.rename(columns={'ID': 'Employee_ID', 'Salary': 'Monthly_Salary'}, inplace=True)
print("Organized Data:")
print(df3)